/* ORIGINAL POINT OF SALE  */

.pos .numpad .mode-button-hide {
    border: 0px;
}

.company-name {
    float: left;
    color: #8f8f8f;
    font-size: 24px;
    margin-left: 10px;
    line-height: 48px;
    font-weight: bold;
    font-family: "Helvetica";
}